@import '@fortawesome/fontawesome-free/css/all.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .animate-text-shadow {
        animation: text-shadow 8s linear infinite forwards;
    }

    .animate-scale-shadow {
        animation: scale-shadow 3s linear infinite forwards;
    }

    @keyframes text-shadow {
        0% {
            clip-path: inset(0 100% 0 0);
            opacity: 0;
        }

        50% {
            clip-path: inset(0 0 0 0);
            opacity: 1;
        }

        100% {
            clip-path: inset(0 0 0 0);
            opacity: 1;
        }
    }

    @keyframes scale-shadow {

        0%,
        100% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.05);
        }
    }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-out;
}
